body {
  font-family: 'Roboto', sans-serif; }
  body h1 {
    text-align: center;
    color: gray; }
  body .content {
    background-color: mediumseagreen;
    height: 40vh;
    color: white; }
    body .content h2 {
      padding-top: 20px;
      text-align: center; }
    body .content .inner-content {
      text-align: center;
      background-color: white;
      height: 20vh;
      color: black; }
