<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/regular.css" integrity="sha384-OEIzojYBMrmz48aIjVQj7VG38613/sxpP58OW9h5zBYC7biGFlv9tyu5kWmaAYlF"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/fontawesome.css" integrity="sha384-HU5rcgG/yUrsDGWsVACclYdzdCcn5yU8V/3V84zSrPDHwZEdjykadlgI6RHrxGrJ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="qvo.css">
    <title>QVO</title>
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 start-container">
                <img class="qvo-brand-logo" src="../assets/images/qvo-logo.svg">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 intro-container">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6 header-intro">
                        <div>
                            <h1>Friseur, Barbier einfach wohlfühlen</h1>
                            <hr>
                        </div>
                        <h3>Seit 1992</h3>
                    </div>
                    <div class="col-lg-3 chair-image">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 barbier-about-container">
                <img class="barbier-logo" src="../assets/images/barbier-logo.svg">
                <h2 class="p-5">Messerhaarschnitte & Nassrasuren nach allen Regeln des klassischen Barbierhandwerks</h2>
                <hr>
                <div class="row barbier-util-container">
                    <div class="col pinsel-image"></div>
                    <div class="col kamm-image"></div>
                    <div class="col rasiermesser-image"></div>
                </div>
            </div>
            <div class="col-lg-6 barbier-image-container">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 herren-container">
                <h2 class="header-caption">Herren</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 herren-image-container-1"></div>
            <div class="col-lg-4 herren-image-container-2"></div>
            <div class="col-lg-4 herren-image-container-3"></div>
        </div>
        <div class="row">
            <div class="col-lg-12 herren-leistungen-container">
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="../assets/images/schere.svg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Haarschnitte</h5>
                            <p class="card-text">Orientalisches Augenbrauen formen Nassrasur Haarentfernung</p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="../assets/images/hairdryer.svg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Haarschnitte</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="../assets/images/kammtwo.svg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Haarschnitte</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This
                                card has even longer content than the first to show that equal height action.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 qvo-quote-1">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <h3>Was sagen unsere Kunden über uns ?</h3>
                            <a href="#">
                                <h4>
                                    <span class="google-rev-score">4,7&nbsp;</span>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                    <span class="google-rev">&nbsp;Google Bewertungen</span>
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <h3>
                                <i class="fas fa-quote-left"></i>
                            </h3>
                            <h4>Ich gehe seit ein paar Jahren zu QVO und bin immer zufrieden gewesen!</h4>
                            <h4>Der Service ist immer absolut top!</h4>
                        </div>
                        <div class="swiper-slide">
                            <h3>
                                <i class="fas fa-quote-left"></i>
                            </h3>
                            <h4>Freundliches Team und sehr guter Service. </h4>
                            <h4>Macht weiter so! Preis Leistung stimmt hier einfach. Sehr empfehlenswert</h4>
                        </div>
                        <div class="swiper-slide">
                            <h3>
                                <i class="fas fa-quote-left"></i>
                            </h3>
                            <h4>Nur Haareschneiden das kann jeder, bei QVO wird man verwöhnt. </h4>
                            <h4>Umut, seine Mutter und das Team machen einen Friseurbesuch zu etwas besonderem! </h4>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 ladies-container">
                <h2 class="header-caption">Ladies</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ladies-image-container-1"></div>
            <div class="col-lg-4 ladies-image-container-2"></div>
            <div class="col-lg-4 ladies-image-container-3"></div>
        </div>
        <div class="row">
            <div class="col-lg-12 price"></div>
        </div>
        <div class="row">
            <div class="col-lg-6 herren-price"></div>
            <div class="col-lg-6 ladies-price"></div>
        </div>
        <div class="row">
            <div class="col-lg-12 payment-methods"></div>
        </div>
        <div class="row contact-container">
            <div class="col-12 col-md-4 text-center p-3 p-lg-5">
                <i class="fa fa-phone quickbar-icon mb-2"></i>
                <div class="quickbar-label text-uppercase">Telefon</div>
                <span class="quickbar-text">+49 0561 7397893</span>
            </div>
            <div class="col-12 col-md-4 text-center p-3 p-lg-5">
                <i class="far fa-clock quickbar-icon mb-2"></i>
                <div class="quickbar-label text-uppercase">Öffnungszeiten</div>
                <div class="quickbar-text">Dienstag – Freitag: 9.00 – 20.00 Uhr</div>
                <div class="quickbar-text">Samstag: 10.00 – 16.00 Uhr</div>
            </div>
            <div class="col-12 col-md-4 text-center p-3 p-lg-5">
                <i class="fa fa-envelope quickbar-icon mb-2"></i>
                <div class="quickbar-label text-uppercase">E-Mail</div>
                <span class="quickbar-text">qvo@qvo-kassel.de</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 google-maps-container"></div>
        </div>
        <div class="row">
            <div class="col-lg-12 footer-container p-5">
                <h2>Folge uns</h2>
                <h3 class="social-links">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-google-plus-g"></i>
                </h3>
                <h5 class="legal-notice">
                    <a href="#" target="blank">Impressum</a> | <a href="#" target="blank">Datenschutz</a> | <a href="#" target="blank">Cookies</a>
                </h5>
                <hr>
                <h5>made with <i class="fas fa-heart"></i> by <strong>roelldev.de</strong>
                </h5>
                <h6>©copyright
                    <script>document.write(' ' + new Date().getFullYear() + ' ')</script> - <strong>QVO</strong>
                </h6>
            </div>
        </div>
    </div>

</body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="./qvo.js"></script>

</html>