<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="qvo.css">
    <title>QVO</title>
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 start-container">
                <img data-aos="zoom-in-up" data-aos-duration="2000" class="qvo-brand-logo lazyload" data-src="../assets/images/qvo-logo.svg">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 intro-container">
                <div class="row p-5">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6 header-intro">
                        <div data-aos="fade-right" class="mt-5 mb-5">
                            <h1>Friseur & Barbier</h1>
                            <span>einfach wohlfühlen</span>
                            <hr>
                        </div>
                        <div class="quick-intro">
                            <h2 data-aos="fade-right" class="mb-4">
                                Wir QVO aus Kassel sind dein Friseur und Barbier, <br>
                                der dir durch jahrelange Erfahrung den besten Service liefert
                            </h2>
                            <h3 data-aos="fade-right">
                                Unser Professionelles Team  berät dich in Fragen Mode und Trends <br> und findet  mit dir deinen Style für Bart und Haare  
                            </h3>
                        </div>
                        <h4 class="mt-5" data-aos="fade-right">Seit 1992</h4>
                    </div>
                    <div data-aos="fade-left" data-bg="../assets/images/il_570xN.1263510516_3j0f.jpg" class="col-lg-3 chair-image lazyload"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col barbier-image-container">
                <img class="barbier-logo lazyload" data-src="../assets/images/barbier-logo.svg">
                <div class="barbier-about-container p-5">
                    <h2 class="p-4">Messerhaarschnitte & Nassrasuren nach allen Regeln des klassischen Barbierhandwerks</h2>
                </div>  
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 p-5 herren-container">
                <div class="header-caption">
                    <h2 class="c-header">Herren</h2>
                    <h4>{ A Gentleman's World }</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 p-3">
                <div data-aos="fade-right" data-bg="../assets/images/stock-photo-portrait-of-young-man-wearing-suspenders-in-urban-background-188209364.jpg"  class="herren-image-container lazyload"></div>
            </div>
            <div class="col-lg-6 p-3">
                <div class="card-container">
                    <div class="c-card" data-aos="fade-left">
                        <div class="img-header">
                            <hr><img class="lazyload" data-src="../assets/images/schere.svg"><hr>
                        </div>
                        <div class="card-content">
                            <h2 class="header">Haarschnitte</h2>
                            <p>
                                Orientalisches Augenbrauen formen<br>
                                Nassrasur<br>
                                Haarentfernung
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 p-3">
                <div class="card-container">
                    <div data-aos="fade-right" class="c-card">
                        <div class="img-header">
                            <hr><img class="lazyload" data-src="../assets/images/barber.svg"><hr>
                        </div>
                        <div class="card-content">
                            <h2 class="header">Barbier</h2>
                            <p>Messerhaarschnitte & Nassrasuren <br> nach allen Regeln des klassischen Barbierhandwerks</p>
                        </div>
                        <div class="card-buttons">
                                <button class="c-button">
                                    <a>Mehr erfahren</a>
                                </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-3 float-sm-left">
                <div data-aos="fade-left" data-bg="../assets/images/barbier-img2.jpg" class="lazyload herren-image-container"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 p-3">
                <div data-aos="fade-right" class="lazyload herren-image-container" data-bg="../assets/images/bar.jpg"></div>
            </div>
            <div class="col-lg-6 p-3">
                <div class="card-container">
                    <div data-aos="fade-left" class="c-card">
                        <div class="img-header">
                            <hr><img class="lazyload" data-src="../assets/images/elegant-top-hat.svg"><hr>
                        </div>
                        <div class="card-content">
                            <h2 class="header">Gentleman Drinks</h2>
                            <p>Was passt besser zu einem entspannten Besuch beim Friseur, <br> als ein guter Whisky oder Gin
                            </p>
                            <p>Wir bieten natürlich auch nicht alkoholische Getränke</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 qvo-quote-1">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <h3>Was sagen unsere Kunden über uns ?</h3>
                            <a href="#">
                                <h4>
                                    <span class="google-rev-score">4,7&nbsp;</span>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                    <span class="google-rev">&nbsp;Google Bewertungen</span>
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <h3>
                                <i class="fas fa-quote-left"></i>
                            </h3>
                            <h4>Ich gehe seit ein paar Jahren zu QVO und bin immer zufrieden gewesen!</h4>
                            <h4>Der Service ist immer absolut top!</h4>
                        </div>
                        <div class="swiper-slide">
                            <h3>
                                <i class="fas fa-quote-left"></i>
                            </h3>
                            <h4>Freundliches Team und sehr guter Service. </h4>
                            <h4>Macht weiter so! Preis Leistung stimmt hier einfach. Sehr empfehlenswert</h4>
                        </div>
                        <div class="swiper-slide">
                            <h3>
                                <i class="fas fa-quote-left"></i>
                            </h3>
                            <h4>Nur Haareschneiden das kann jeder, bei QVO wird man verwöhnt. </h4>
                            <h4>Umut, seine Mutter und das Team machen einen Friseurbesuch zu etwas besonderem! </h4>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </div>
        <div class="row">
                <div class="col-lg-12 p-5 ladies-container">
                        <div class="header-caption">
                            <h2 class="c-header">Ladies</h2>
                            <h4>Deine Traum Frisur</h4>
                        </div>
                    </div>
        </div>
        <div class="row">
            <div class="col-lg-6 p-3">
                <div data-aos="fade-right" data-bg="../assets/images/woman1.jpg" class="lazyload ladies-image-container"></div>
            </div>
            <div class="col-lg-6 p-3">
                <div class="card-container">
                    <div data-aos="fade-left" class="c-card">
                        <div class="img-header">
                            <hr><img class="lazyload" data-src="../assets/images/female-hair-shape-and-face-silhouette.svg"><hr>
                        </div>
                        <div class="card-content">
                            <h2 class="header">Haarschnitte</h2>
                            <p>
                                Haarverlängerung, Haarentfernung,<br>
                                orientalisches Augenbrauen formen, <br>
                                Hochzeitsfrisuren
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 p-3">
                <div class="card-container">
                    <div data-aos="fade-right" class="c-card">
                        <div class="img-header">
                            <hr><img class="lazyload" data-src="../assets/images/manicure.svg"><hr>
                        </div>
                        <div class="card-content">
                            <h2 class="header">Maniküre & Kosmetik</h2>
                            <p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-3">
                <div data-aos="fade-left" data-bg="../assets/images/stock-photo-closeup-shot-of-a-woman-in-a-nail-salon-receiving-a-manicure-by-a-beautician-with-nail-file-woman-298128602.jpg" class="lazyload ladies-image-container"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 p-3">
                <div data-aos="fade-right" data-bg="../assets/images/stock-photo-hair-stylist-at-work-hairdresser-washing-hair-to-the-customer-before-doing-hairstyle-422650429.jpg" class="lazyload ladies-image-container"></div>
            </div>
            <div class="col-lg-6 p-3">
                <div class="card-container">
                    <div data-aos="fade-left" class="c-card">
                        <div class="img-header">
                            <hr><img class="lazyload" data-src="../assets/images/green-tea.svg"><hr>
                        </div>
                        <div class="card-content">
                            <h2 class="header">Massage</h2>
                            <p>
                                Kopf und Handmassagen, kein Friseur sondern ein Care Haus
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 p-5 team-header-container">
                <div class="header-caption">
                    <h2 class="c-header">Team</h2>
                    <h4>Wir sind QVO</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="team-card">
                    <div class="lazyload" data-bg="../assets/images/stock-photo-bearded-man-bearded-male-portrait-of-stylish-man-beard-barber-scissors-and-straight-razor-1101519908.jpg"></div>
                    <div></div>
                </div>
            </div>
            <div class="col-lg-3">
                
            </div>
            <div class="col-lg-3">
                
            </div>
            <div class="col-lg-3">
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 price"></div>
        </div>
        <div class="row">
            <div class="col-lg-6 herren-price"></div>
            <div class="col-lg-6 ladies-price"></div>
        </div>
        <div class="row">
            <div class="col-lg-12 payment-methods"></div>
        </div>
        <div class="row contact-container">
            <div class="col-12 col-md-4 text-center p-4 p-lg-5">
                <i class="fa fa-phone quickbar-icon mb-2"></i>
                <div class="quickbar-label text-uppercase">Telefon</div>
                <span class="quickbar-text">+49 0561 7397893</span>
                <div class="mt-3">
                    <a class="btn btn-primary" href="tel:0561-7397893">Termin vereinbaren</a>
                </div>
            </div>
            <div class="col-12 col-md-4 text-center p-4 p-lg-5">
                <i class="far fa-clock quickbar-icon mb-2"></i>
                <div class="quickbar-label text-uppercase">Öffnungszeiten</div>
                <div class="quickbar-text">Dienstag – Freitag: 9.00 – 20.00 Uhr</div>
                <div class="quickbar-text">Samstag: 10.00 – 16.00 Uhr</div>
            </div>
            <div class="col-12 col-md-4 text-center p-4 p-lg-5">
                <i class="fa fa-envelope quickbar-icon mb-2"></i>
                <div class="quickbar-label text-uppercase">E-Mail</div>
                <span class="quickbar-text">qvo@qvo-kassel.de</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 google-maps-container">
                <div id="map"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 footer-container p-5">
                <h2>Folge uns</h2>
                <h3 class="social-links">
                    <a href="https://de-de.facebook.com/QVO.Care.House/" target="_blank">
                        <i class="fab fa-facebook mr-3"></i>
                    </a>
                    <a href="https://www.instagram.com/explore/locations/251320248/qvo-care-house-kassel/?hl=de" target="_blank">
                        <i class="fab fa-instagram mr-3"></i>
                    </a>
                   
                    <i class="fab fa-google-plus-g"></i>
                </h3>
                <h5 class="legal-notice">
                    <a href="impressum.html" target="blank">Impressum</a> | <a href="datenschutz.html" target="blank">Datenschutz</a> | <a href="datenschutz.html#cookies" target="blank">Cookies</a>
                </h5>
                <hr>
                <h5>made with <i class="fas fa-heart"></i> by <strong><a href="https://roelldev.de" target="_blank">roelldev.de</a></strong>
                </h5>
                <h6>©copyright
                    <script>document.write(' ' + new Date().getFullYear() + ' ')</script> - <strong>QVO</strong>
                </h6>
            </div>
        </div>
    </div>

</body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="./qvo.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjTSwKhX43IlgQvzF1ge5nurItTdFqdCA&callback=initMap"></script>
<script>
document.addEventListener('lazybeforeunveil', function(e){
  var bg = e.target.getAttribute('data-bg');
  if(bg){
      e.target.style.backgroundImage = 'url(' + bg + ')';
  }
});
</script>
</html>