@import "./variables";

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--gray-color) !important;
}

%link-styles
{
  text-decoration: none !important;
  color: white !important;
  text-transform: uppercase;
}

header {
  width: 100%;
  padding: 10px 3%;
  height: 80px;
  //background: linear-gradient(to left,#e65d64,#ffa12e);
  background: #332f2f;
  color: var(--gray-color);
  .brand-sign {
    float: left;
    height: 60px;
  }
  .nav-item {
    float: right;
    font-size: 25px;
    line-height: 60px;
    @extend %link-styles;
    
    &:hover {
      text-decoration: none;
      color: white;
    }
  }
  .nav-item-res-toggle {
    display: none;
    line-height: 60px;
    float: right;
    font-size: 35px;
    color: white;
  }
}

.res-nav {
  overflow: hidden;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray-color);
  padding: 20px;
  z-index: 1;
  text-align: center;
  .nav-res-close-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 35px;
    color: white;
  }
  .res-nav-logo {
    margin: 0 auto;
    width: 100px;
    height: auto;
    display: flex;
  }
  .nav-item {
    margin-top: 10px;
    font-size: 35px;
    a {
      color: white;
      &:hover {
        color: white;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .tech-about {
    text-align: center;
  }
  header {
    .nav-item {
      display: none;
    }
    .nav-item-res-toggle {
      display: inline;
    }
  }
}

footer {
  text-align: center;
  color: var(--header-color);
  .footer-links {
    margin-bottom: 15px;
    a {
      @extend %link-styles;
      margin: 0 10px;
    }
  }
}

.eu-data-popup-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-structure-color);
  padding: 10px;
  text-align: center;
  div {
    position: relative;
    p {
      margin: 0;
    }
    a
    {
      color: white;
      &:hover
      {
        color: white;
        text-decoration: none;
      }
    }
    .close-button {
      position: absolute;
      right: 10px;
      top: 10px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .btn {
    margin-left: 10px;
  }
}

.base-container {
  background-color: #332f2f;
  margin: 3%;
  border-radius: 3px;
  height: 100%;
}

.link {
  text-decoration: none !important;
  color: white !important;
}
