body
{
    font-family: 'Roboto', sans-serif;
    h1
    {
        text-align: center;
        color:gray;
    }
    .content
    {
        background-color: mediumseagreen;
        height: 40vh;
        color: white;
        h2
        {
            padding-top: 20px;
            text-align: center;
        }
        .inner-content
        {
            text-align: center;
            background-color: white;
            height: 20vh;
            color: black;
        }
    }
}